<!DOCTYPE html>
<html lang="pl">

  <head>

     <meta charset="utf-8">
     <title>Messenger clone</title>

     <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type = "text/css" href="main.css">

  </head>
  <body>

	<header> Messenger clone!</header>

	<div class = "options"></div>

	<div class = "container">
		<div class = "inbox">
			<div class "inbox-label">Lista rozmów:</div>
			<div class = "conversation">
				<div class = "person-conversation-label">Anadrzej:</div>
				<div class = "message-conversation-label">
					Hej, co tam?
				</div>
			</div>
			<div class = "conversation">
				<div class = "person-conversation-label">Helena:</div>
				<div class = "message-conversation-label">
					Jutro nie mam czasu
				</div>
			</div>
			<div class = "conversation">
				<div class = "person-conversation-label">Janusz:</div>
				<div class = "message-conversation-label">
					Oddawaj kasę, stary zgredzie!
				</div>
			</div>
		</div>
		<div class = "conversation-box">
			<div class = "conversation-window"></div>
			<div class = "typing-box">
				<textarea type = "text" class = "conversation-input"></textarea>
				<button class = "sending-button">Wyślij!</button>
			</div>
		</div>
	</div>

	<footer></footer>

	<script src = "main.js"></script>

  </body>

</html>