{% extends 'main.html' %}

{% load static %}

{% block title %}
	Messenger clone
{% endblock %}

{% block links %}
	<link rel = "stylesheet" type = "text/css" href = "{% static 'index.css' %}">
	<script src="https://kit.fontawesome.com/f1cf22dfa1.js" crossorigin="anonymous"></script>
{% endblock %}

{% block site %}

	<div class = "options"><i class="fas fa-bars"></i></div>

	<div class = "options-wrapper">
		<a href = "{% url 'logout' %}">
			<button class = "log-out-btn">
				Log out!
			</button>
		</a>
	</div>

	<div class = "container">
		<div class = "inbox">
			<div class "inbox-label">Lista rozmów:</div>
			<div class = "conversation">
				<div class = "person-conversation-label">Anadrzej:</div>
				<div class = "message-conversation-label">
					Hej, co tam?
				</div>
			</div>
			<div class = "conversation">
				<div class = "person-conversation-label">Helena:</div>
				<div class = "message-conversation-label">
					Jutro nie mam czasu
				</div>
			</div>
			<div class = "conversation">
				<div class = "person-conversation-label">Janusz:</div>
				<div class = "message-conversation-label">
					Oddawaj kasę, stary zgredzie!
				</div>
			</div>
		</div>
		<div class = "conversation-box">
			<div class = "conversation-window">
				<p class = "from-me-message">
					Hej, co tam u Ciebie słychać?
				</p>
				<p class = "to-me-message">
					Siamano, wszystko okej, kiedy idziemy na jakieś piwko??
				</p>
				<p class = "from-me-message">
					Jutro mam czas.
				</p>
				<p class = "to-me-message">
					Ja niestety jutro nie mogę.
				</p>
			</div>
			<div class = "typing-box">
				<textarea type = "text" class = "conversation-input"></textarea>
				<button class = "sending-button">Wyślij!</button>
			</div>
		</div>
	</div>

	<script src = "{% static 'main.js' %}"></script>

{% endblock %}