{% extends 'main.html' %}

{% load static %}

{% block title %}
    Messenger - main site
{% endblock %}

{% block links %}
    <link rel="stylesheet" type = "text/css" href="{% static 'main_page.css' %}">
{% endblock %}

{% block site %}

    <Header>Messenger, be in touch!</Header>

    <main>
        <section class = "login-section">
            <form class = "login-form" method = "POST">
                {% csrf_token %}
                <input type = "text" name = "username" placeholder = "username">
                <input type = "password" name = "password" placeholder = "password">
                <input type = "submit" value = "log in!">
            </form>

            <a href ="">Don't have account? Don't worry, click here to register!</a>
        </section>
    </main>

{% endblock %}